# Gradle
.gradle/
*.iml
*.iws
*.editorconfig
gradle-app.setting
.gradletasknamecache

# Java / Build
log/
target/
build/
out/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# Git hooks
hooks/pre-push

# SonarQube
.scannerwork/report-task.txt
.scannerwork/.sonar_lock
.scannerwork/

# Proyecto
.username-counter
.idea

# Avoid ignoring Gradle wrapper jar file
!gradle/wrapper/gradle-wrapper.jar
